[core]
	editor = \"C:\\Users\\Кисуля\\AppData\\Local\\Programs\\Microsoft VS Code\\bin\\code\" --wait
[user]
	name = sakenova
	email = sakenova.aisulu@gmail.com
[alias]
	history = log
[init]
	templateDir = C:/Users/Кисуля/.git-template
